<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columns</key>
	<integer>5</integer>
	<key>cornerRadius</key>
	<integer>24</integer>
	<key>fadeOutDuration</key>
	<real>0.2</real>
	<key>itemHeight</key>
	<integer>128</integer>
	<key>itemWidth</key>
	<integer>128</integer>
	<key>opacity</key>
	<real>0.5</real>
	<key>rows</key>
	<integer>4</integer>
	<key>timeInterval</key>
	<real>0.1</real>
	<key>URITypes</key>
	<array>
		<string>public.url</string>
		<string>public.text</string>
	</array>
</dict>
</plist>
